@font-face {
    font-family: 'Roboto' sans-serif;
    src: url(fonts/Roboto-Black.ttf);
}

*{
  scroll-behavior: smooth;
}
  
:root {
    --primary-color: #1f2937;
    --secondary-color: #e5e7eb;
    --text-color: #f9faf8;
    --button-color: #3882f6;
    --quote-text: #1f2937;
}

body {
    transition: all 0.3s linear;
    margin: auto 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--quote-text);
    color: var(--secondary-color);
    margin: 0 auto;
    position: fixed;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0 7em;
    gap: 1.5em;
}

.push-right {
    margin-right: auto;
    font-size: 24px;
    color: var(--text-color);
}
  
.push-right img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.main-nav li {
    padding: 15px 0;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

a:hover {
    color: var(--button-color);
  }

footer {
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--text-color);
    text-align: center;
}