@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(./fonts/Roboto-Regular.ttf) format('truetype'), url(./fonts/Roboto-Black.ttf) format('truetype'),
    url(./fonts/Roboto-Italic.ttf) format('truetype'),url(./fonts/Roboto-LightItalic.ttf) format('truetype');

}

* {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1f2937;
    --secondary-color: #e5e7eb;
    --text-color: #f9faf8;
    --button-color: #3882f6;
    --quote-text: #1f2937;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--quote-text);
    color: var(--secondary-color);
    margin: 0 auto;
    width: 100%;
}

.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0 7em;
    gap: 1.5em;
}

.pushRight {
    margin-right: auto;
    font-size: 24px;
    color: var(--text-color);
}

.pushRight img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.mainNav li {
    padding: 15px 0;
}
    
a {
color: var(--secondary-color);
text-decoration: none;
}
    
a:hover {
color: var(--button-color);
}

@media only screen and (max-width: 800px) {
    .mainNav {
        font-size: 0.65em;
        gap: 0;
    }
    .mainNav li {
        padding: 10px;
    }
    .pushRight {
        font-size: 16px;
    }
    }
    @media only screen and (max-width: 600px) {
    .pushRight img {
        width: 3rem;
        height: 3rem;
    }
    }
    @media only screen and (max-width: 500px) {
    .mainNav {
        padding: 0 3em;
        font-size: 0.5em;
    }
    .mainNav li {
        padding: 5px;
    }
    .pushRight {
        font-size: 15px;
    }
    .pushRight img {
        width: 2rem;
        height: 2rem;
    }
}

main{
    padding: 2% 3%;
}

.picture{
    margin-right: 15px;
    vertical-align: top;
    position: absolute;
    top: 0%;
}

.image{
    margin: 1%;
    align-self: center;
    border-radius: 1rem;
    max-width: 530px;
    min-width: 200px;
    height: auto;
}

article{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15px;
    position: relative;
}

.firstContact{
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 2%;
}
.firstContact p{
    color: var(--text-color);
    margin: 0 10%;
}

h2{
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 42%;
}

.phoneContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px, solid, var(--button-color);
    border-radius: 1rem;
    background-color: var(--button-color);
    padding: 1%;
    margin: 0 2%;
}

.contactText{
    margin-bottom: 2%;
}

.contactText p{
    color: var(--text-color);
    margin-bottom: 2%;
}

.phone{
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.phone p{
    color: var(--text-color);
    margin: 1%;
}

.whatsappContainer{
    display: flex;
    flex-direction: row;
    margin: 2%;
}


.whatsappContainer a{
    background-color: none;
    display: flex;
}

.whatsappContainer p {
    color: var(--text-color);
    margin: 2%;
}

.emailHeader{
    display: flex;
}

.email{
    display: flex;
    flex-direction: column;
}

.emailContainer{
    background-color: var(--primary-color);
    border-radius: 1rem;
    max-width: 1000px;
    min-width: 200px;
    align-self: center;
    margin-bottom: 2%;
}

.emailForm{
    padding: 15px 0;
}

.emailForm label{
    color: var(--text-color);
    padding: 15px 10px;
    font: 200;
}

.emailForm input{
    border: 2px, solid, var(--button-color);
    background-color: var(--text-color);
    color: var(--quote-text);
    border-radius: 55rem;
    height: 30px;
    width: 87%;
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    margin: 2%;
}
.subjectForm{
    color: var(--text-color);
    padding: 15px 10px;
    font: 200;
}

select{
    border: 2px, solid, var(--button-color);
    background-color: var(--text-color);
    color: var(--quote-text);
    border-radius: 55rem;
    height: 50px;
    width: 95%;
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    margin: 2%;
}

.select-selected{
    background-color: var(--button-color);
    color: var(--text-color);
}

.select-items div, .select-selected{
    border-radius: 1rem;
    border-color: transparent;
    cursor: pointer;
    border-radius: 1rem;

}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: none;
}

.input[type=file] {
    margin-top: 1rem;
    border: none;
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 55rem;
    height: 3rem;
    width: 15rem;
    font-size: 18px;
    margin: 2%;
}


input.resume::file-selector-button {
    font-weight: bold;
    color: var(--text-color);
     background-color: var(--button-color);
     padding: 0.5em;
    border: none;
    border-radius: 1rem;
}

textarea{
    height: 8rem;
    border: none;
    background-color: var(--text-color);
    color: var(--quote-text);
    border-radius: 1rem;
    text-align: center;
    font-size: 15px;
    resize: none;
    padding: 15px;
    width: 85%;
    margin: 3%;
}

button{
    border: none;
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 55rem;
    height: 3rem;
    width: 15rem;
    font-size: 18px;
    margin: 2%;
}

.mapContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 1.5%;
    width: 70%;
    height: 30%;
}

.map h2{
    color: var(--primary-color);
    margin-left: 40%;
}

#map{
    width: 100%; 
    height: auto;
}

.workContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin-top: 2%;
    margin-bottom: 3%;
}

.workContainer h2{
    color: var(--text-color);
}

.workContainer p{
    color: var(--text-color);
    margin: 0 5%;
}

.developers h2{
    margin: 2% 30%;
    width: 40%;


}
.developersContainer{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}

.pairDevContainer{
    display: flex;
}

.developersContainer img{
    border-radius: 1rem;
    align-self: center;
    margin: 15px 20px 5px 20px;
}

.developersContainer .aboutDev {
    box-sizing: border-box;
    border: 1px, solid, var(--button-color);
    border-radius: 1rem;
    width: 12rem;
    background-color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.aboutDev h4{
   margin-left: 25px;
}

.aboutDev section{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

#linkedin{
    border-radius: 0;
}

#goUp{
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 3em;
    text-decoration: none;
    box-shadow: 0 3px 3px  #96a5c3;
}

#go-up:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}  

footer{
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--text-color);
    text-align: center;
}


@media only screen and (max-width: 850px){
    .maiNav{
        font-size: 0,5em;
        padding: 0;
    }

    .image{
        display: none;
    }

    .pushRight{
        font-size: 15px;
    }

    article{
        flex-wrap: wrap;
    }
    textarea{
        width: 20 rem;
    }
    
    .map h2{
        margin-left: 30%;
    }

    .developers h2{
        align-self: center;
    }
}

@media only screen and (max-width: 650px){
    .mainNav{
        padding: 5px;
    }
    .phoneContainer{
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px){
    .list{
        flex-direction: column;
    }
    .h2{
        margin-right: 20%;
        font-size: 20px;
    }
    .map h2{
        margin-left: 20%;
        font-size: 20px;
    }
    .iframe{
        width: 45%;
    }
    .workContainer h2{
        margin-left: 30%;
        font-size: 20px;
    }
    .workContainer{
        margin-left: 7%;
    }
    .developersContainer h2{
        margin-left: 20%;
        width: 80%;
        font-size: 20px;
    }
    .pairDevContainer{
        display: flex;
        flex-direction: column;
    }
}