@font-face {
  font-family: "Roboto" sans-serif;
  src: url(fonts/Roboto-Light.ttf);
}
/* Normalize CSS */
/* * {
  scroll-behavior: smooth;
} */

:root {
  --primary-color: #1f2937;
  --secondary-color: #e5e7eb;
  --text-color: #f9faf8;
  --button-color: #3882f6;
  --quote-text: #1f2937;
}
* {
  margin: 0;
}
body {
  transition: all 0.3s linear;
  margin: auto 0;
  font-family: "Roboto", sans-serif;
}

/* === Hero Section */
#hero {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5em 0;
}
.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7em;
  gap: 3em;
}
.hero-text {
  width: 35rem;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: var(--text-color);
}
.hero-text p {
  font-size: 18px;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 15px;
}
a button {
  background-color: var(--button-color);
  color: var(--text-color);
  border-style: none;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}
a button:hover {
  background-color: #0d5fe0;
}
.hero-img {
  /* background-color: aliceblue; */
  height: auto;
  width: 545px;
}
.hero-img img {
  width: 100%;
}
@media only screen and (max-width: 950px) {
  .hero-text h1 {
    font-size: 35px;
  }
  .hero-text p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a button {
    padding: 0.5rem 2rem;
    border-radius: 7px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 850px) {
  #hero {
    padding: 4em 0;
  }
  .hero-wrapper {
    padding: 0 5em;
    gap: 1em;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a button {
    padding: 0.5rem 2rem;
    font-size: 13px;
  }
}
@media only screen and (max-width: 650px) {
  .hero-text h1 {
    font-size: 25px;
  }
  .hero-text p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-wrapper {
    padding: 0 4.5em;
    gap: 1em;
    flex-direction: column-reverse;
  }
  .hero-text {
    text-align: center;
    width: 100%;
  }
  .hero-text h1 {
    font-size: 25px;
  }
  .hero-text p {
    font-size: 16px;
  }
  a button {
    font-size: 14px;
  }
  .hero-img {
    /* background-color: aliceblue; */
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  #hero {
    padding: 2em 0;
  }
  .hero-wrapper {
    padding: 0 2em;
    flex-direction: column-reverse;
  }
  .hero-text {
    text-align: center;
    width: 100%;
  }
  .hero-text p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .hero-img {
    width: 100%;
  }
}

/* === Info Section == */
#info {
  text-align: center;
  padding: 2.5em 0;
}
#info h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: var(--quote-text);
  margin-bottom: 1em;
}
.wrapper-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5em;
  padding: 0 5.5em;
}
.box-img {
  height: auto;
  width: 150px;
}
.box-img > img {
  width: 100%;
  border: 3px solid var(--button-color);
  border-radius: 1.3em;
}
.quote {
  text-align: start;
  background-color: var(--secondary-color);
  padding: 7em 20em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: var(--quote-text);
}
.quote .author {
  font-size: 16px;
}
@media only screen and (max-width: 1000px) {
  .quote {
    padding: 7em 7em;
    margin-top: 5em;
  }
}
@media only screen and (max-width: 800px) {
  .quote {
    padding: 7em 7em;
    margin-top: 5em;
  }
  .quote p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #info h2 {
    font-size: 25px;
    margin-bottom: 1em;
  }
  .wrapper-grid {
    gap: 1.5em;
    padding: 0 3em;
  }
  .quote {
    padding: 3em 3em;
    margin-top: 5em;
  }
  .quote p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  #info h2 {
    font-size: 25px;
    margin-bottom: 0.5em;
  }
  .wrapper-grid {
    gap: 1.5em;
    padding: 0 2em;
  }
  .quote {
    padding: 2em 2em;
    margin-top: 3em;
  }
  .quote p {
    font-size: 25px;
  }
}
/* === CTA Section === */
#cta {
  padding: 3em 10em;
}
.wrapper-cta {
  background-color: var(--button-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2.5em 0em;
  border-radius: 10px;
}
.cta-tex h3 {
  font-size: 18px;
}
.cta-btn {
  padding: 0.5rem 2rem;
  border-radius: 7px;
  font-size: 14px;
  border: 1px solid var(--text-color);
}
.cta-btn:hover {
  background-color: #0d5fe0;
}
@media only screen and (max-width: 1000px) {
  #cta {
    padding: 3em 5em;
  }
}
@media only screen and (max-width: 900px) {
  #cta {
    padding: 3em 3em;
  }
}
@media only screen and (max-width: 800px) {
  #cta {
    padding: 3em 3em;
  }
  .wrapper-cta {
    flex-direction: column;
  }
  .cta-tex {
    text-align: center;
    width: 100%;
  }
  .cta-tex h3 {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper-cta {
    padding: 2.5em 2em;
  }
}
