@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype'), url(./fonts/Roboto-Black.ttf) format('truetype'),
    url(./fonts/Roboto-Italic.ttf) format('truetype'),url(./fonts/Roboto-LightItalic.ttf) format('truetype');

  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    height: 80px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navLink{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navLink a{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.about-us-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
    font-weight: 800;
    background-image: url(./images/header-background.png);
    background-size: 100% 100%;
    height: 350px;
}

.about-us-head-text{
    margin: 0 15% 0 15%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.about-us-head-text h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.about-us-head-text p{
    color: #F9FAF8;
    font-weight: lighter;
}

.about-us-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
    margin: 5% 15% 2% 15% ; 
    color: #1F2937;
}

.about-us-text-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

.about-us-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: 400;
    background-color: #FFFFFF;
    line-height: 1.6;
}

.about-us-text h2{
    font-size: 38px;
    color: #1F2937;
    font-weight: 800;
}

.mission{
    margin-right: 3%;
    padding-right: 3%;
}

.mission img, .values img{
    width: 500px;
    height: auto;
}

.values{
    margin-left: 3%;
    padding-left: 3%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937 ;
    color: #F9FAF8;
    width: 100%;
    height: 80px;
    bottom: 0;
}