@font-face {
    font-family: 'Roboto' sans-serif;
    src: url(fonts/Roboto-Black.ttf);
}

*{
  scroll-behavior: smooth;
}
  
:root {
    --primary-color: #1f2937;
    --secondary-color: #e5e7eb;
    --text-color: #f9faf8;
    --button-color: #3882f6;
    --quote-text: #1f2937;
}

body {
    transition: all 0.3s linear;
    margin: auto 0;
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
    padding: 0;
}

header {
    background-color: var(--quote-text);
    color: var(--secondary-color);
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0 7em;
    gap: 1.5em;
}

.push-right {
    margin-right: auto;
    font-size: 24px;
    color: var(--text-color);
}
  
.push-right img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.main-nav li {
    padding: 15px 0;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

a:hover {
    color: var(--button-color);
}

#signup-btn{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid #3882f6;
    border-radius: 18px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    box-shadow:0 4px 4px 0 rgb(80, 80, 80);
}

#signup-btn:hover{
    background-color: #3882f6;
    color: var(--text-color);
}

main{
    display: flex;
    height: calc(80vh - 100px);
    align-items: center;
    justify-content: center;
}

#explore-more{
    font-size: 18px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: 2px solid #3882f6;
    border-radius: 18px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    box-shadow:0 4px 4px 0 rgb(80, 80, 80);
}

li a:hover::after{
    width: 90%;
}

#explore-more:hover{
    background-color: #649df9;
    border: 2px solid #649df9;

}

.content-left{
    color: var(--text-color);
    width: 70%;
}

#first-row{
    font-size: 36px;
}

#second-row{
    font-size: 36px;
    text-align: center;
}

#third-row{
    font-size: 36px;
    text-align: end;
}

#qoute{
    font-size: 18px;
    background-color: #e5e7eba3;
    color: var(--primary-color);
    padding: 24px 42px;
    box-shadow:0 4px 4px 0 rgb(80, 80, 80);

}

.snowboarder{
    max-width: 540px;
    height: auto;
    text-shadow: 0 4px 4px 0 rgb(162, 162, 162);
}

footer {
    background-color: var(--primary-color);
    padding: 1em;
    color: var(--text-color);
    text-align: center;
}
