@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    background: rgb(48, 157, 174);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: rgb(93, 93, 93);
}

li a::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: rgb(93, 93, 93);
    transition: all .5s;
}

li a:hover::after{
    width: 90%;
}